body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans;
    text-align: center;
}

ul {
    list-style-type: none;
}

div {
    width: 200px;
    height: 500px;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}